nlp_engine_name: spacy
models:
  -
    lang_code: en
    model_name: en_core_web_lg  # Using large model (trf has dependency issues on Windows)
    # model_name: en_core_web_trf  # Transformer: more accurate but requires compatible PyTorch

ner_model_configuration:
  model_to_presidio_entity_mapping:
    # ---- Core Person Entities ----
    PER: PERSON
    PERSON: PERSON
    HCW: PERSON
    
    # ---- Contact / Communication ----
    EMAIL: EMAIL
    PHONE: PHONE_NUMBER

    # ---- Address / Location ----
    FAC: LOCATION
    GPE: LOCATION
    LOC: LOCATION
    ADDRESS: ADDRESS
    STREET_ADDRESS: ADDRESS
    STREET_NAME: ADDRESS
    HOUSE_NUMBER: HOUSE_NUMBER
    POSTCODE: POSTAL_CODE

    # ---- Credentials / Codes ----
    PASSWORD: PASSWORD
    VERIFICATION_CODE: VERIFICATION_CODE
    PASSCODE: PASSWORD

    # ---- Other Entities ----
    AGE: AGE

  low_confidence_score_multiplier: 0.4

  low_score_entity_names:
    -  # Empty list for now (future low-confidence entities can go here)

  labels_to_ignore:
    # Ignored to reduce false positives or low-value extractions
    - CARDINAL
    - EVENT
    - LANGUAGE
    - LAW
    - ORDINAL
    - PERCENT
    - PRODUCT
    - QUANTITY
    - WORK_OF_ART
    - NUMBERS
    - NUMBER
