nlp_engine_name: spacy
models:
  -
    lang_code: en
    model_name: en_core_web_lg  # Using large model (trf has dependency issues on Windows)
    # model_name: en_core_web_trf  # Transformer: more accurate but requires compatible PyTorch

ner_model_configuration:
  model_to_presidio_entity_mapping:
    # ---- Core Person Entities ----
    PER: PERSON
    PERSON: PERSON
    HCW: PERSON
    
    # ---- Contact / Communication ----
    EMAIL: EMAIL_ADDRESS
    PHONE: PHONE_NUMBER

    # ---- Address / Location ----
    # NOTE: LOCATION entities commented out to avoid false positives (e.g., "US" as pronoun)
    # We rely on custom recognizers for ADDRESS and UK_POSTCODE detection
    # FAC: LOCATION
    # GPE: LOCATION
    # LOC: LOCATION
    ADDRESS: ADDRESS
    STREET_ADDRESS: ADDRESS
    STREET_NAME: ADDRESS
    HOUSE_NUMBER: HOUSE_NUMBER
    POSTCODE: UK_POSTCODE
    POSTAL_CODE: UK_POSTCODE

    # ---- Credentials / Codes ----
    PASSWORD: PASSWORD
    VERIFICATION_CODE: VERIFICATION_CODE
    PASSCODE: PASSWORD

    # ---- Other Entities ----
    AGE: AGE

  low_confidence_score_multiplier: 0.4

  low_score_entity_names:
    -  # Empty list for now (future low-confidence entities can go here)

  labels_to_ignore:
    # Ignored to reduce false positives or low-value extractions
    - CARDINAL
    - EVENT
    - LANGUAGE
    - LAW
    - ORDINAL
    - PERCENT
    - PRODUCT
    - QUANTITY
    - WORK_OF_ART
    - NUMBERS
    - NUMBER
    - DATE
    - TIME
    - MONEY
    - ORG

# Global deny list - words to never redact as PII
# These common words are often false positives from NER
deny_list:
  - "THANK"
  - "THANKS"
  - "HELLO"
  - "HI"
  - "PLEASE"
  - "YES"
  - "NO"
  - "YEAH"
  - "YEP"
  - "OKAY"
  - "OK"
  - "HOW"
  - "WHAT"
  - "WHERE"
  - "WHEN"
  - "WHY"
  - "WHO"
  - "CAN"
  - "COULD"
  - "WOULD"
  - "SHOULD"
  - "YOU"
  - "YOUR"
  - "YOU'RE"
  - "YOURE"
  - "YOU'LL"
  - "YOULL"
  - "YOU'VE"
  - "YOUVE"
  - "I"
  - "I'M"
  - "IM"
  - "I'VE"
  - "IVE"
  - "I'LL"
  - "ILL"
  - "MY"
  - "ME"
  - "THE"
  - "AND"
  - "FOR"
  - "BUT"
  - "WE"
  - "WE'RE"
  - "WERE"
  - "WE'VE"
  - "WEVE"
  - "WE'LL"
  - "WELL"
  - "THEY"
  - "THEY'RE"
  - "THEYRE"
  - "THEY'VE"
  - "THEYVE"
  - "IT"
  - "IT'S"
  - "ITS"
  - "HE"
  - "HE'S"
  - "HES"
  - "SHE"
  - "SHE'S"
  - "SHES"
  - "US"
  - "SKY"
  - "BUSINESS"
  - "HERE"
  - "THERE"
  - "NOW"
  - "THEN"
